@media only screen and (min-width: 560px) {
    
    /*================Header================*/
    header img {
        width: auto;
        margin-right: 20px;
    }

    header h1 {
        font-size: 2.7rem;
    }

    header h3 {
        font-size: 1.8rem;
    }

    /*================Nav================*/
    .navigation li:first-child { 
        display: none;	
    }

	nav li { 
        display: block;
        float: left;
        width: 15%;
        box-sizing: border-box;
    }

    /*================Home================*/
    #myData {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #myData div {
        width: 200px;
    }

    #myData img {
        width: 100%;
        margin: 5px 0px;
    }

    /*================Town================*/

    .summary {
        left: 40px;
    }

    .days {
        width: 515px;
    }

    .article {
        width: 80%;
        margin: 0px auto;
    }

    .float {
        width: 50%;
        float: left;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px 15px 8px 0px;
    }

    .contact-page #map {
        width: 60%;
    } 

    /*================Gallery================*/

    .images {
        display: flex;
        flex-flow: row wrap; 
    }

    .images figure {
        width: 400px;
    }

    .images img {
        height: 200px;
        width: auto;
    }

    /*================Form================*/

    form {
        width: 600px;
    }

    form input, form label {
        width: auto;
    }

    form textarea {
        width: 400px;
    }

    form #button {
        font-size: 1em;
        width: auto;
    }

} /* end of media query*/