@media only screen and (min-width: 1028px) {
     /***home***/
    #banner {
        height: 300px;
    }

    #invite {
        width: 600px;
    }

    .event {
        width: 800px;
    }

    /***temples***/
    #templesData div {
        width: 20%;
    }

    /***services***/
    .services {
        width: 800px;
    }

    /***contact***/
    .contact {
        width: 800px;
    }

} /*end of large.css*/