@media only screen and (min-width: 1028px) {

    nav ul {
        justify-content: flex-start;
    }

    nav li {
        width: auto;
    }

    nav a {
        padding: .5rem 1rem;
    }


} /* end of media query*/