/*stylesheet for preston-4.html*/


/*============Imported fonts==============*/

@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);

body {
    font-family: Verdana, sans-serif;
    color: #395c6b;
    background-color: #ddd;
}

/*================Header================*/

header {
	margin: 10px auto;
    background-color: #3b3b3b;
    color: #bcd3f2;
	border: 1px solid #bbb;
	box-shadow: 0 0 30px #777;
}

header h1 {
    color: #fff; 
    padding: .5rem; 
}

.motto {
    text-align: center;
}

#logo {
    width: 50px;
    position: relative;
    top: 50px;
    left: 100px;
}

/*================nav style================*/
nav {	
    margin: 0 auto;	 
    background-color: #395c6b;	
    list-style: none; 
    text-align: center; 
}

nav li:first-child { 
    display: block;
}

nav ul li { 
    display: none;
}

nav a {	
    display: block;	
    color: #fff; 
    padding: .75rem;	
    text-align: center;	
    text-decoration: none;
}

.responsive li { 
    display: block; 
}

/*================links================*/

nav a:link {
    color: #e6e1c5;
}

nav a:visited {
    color: #80a4ed;
}
nav a:hover {	
    color: #000; 
    background-color: #fff; 
    font-weight: 700;	}

nav a:active {
    color: #d4cb92;
}

/*================main================*/

main {
    width: 80%;
    margin: auto;
}

h1, h2, h3, h4 {
    font-family: 'Americane', 'Calibri', sans-serif;
    font-weight: bold;
    font-stretch: condensed;
}

h1 {
    text-align: center;
}

#clouds-img { 
    width: 100%;
    margin: 0;
}

.icons {
    width: 20px;
}

figcaption {
    visibility: hidden;
}

.summary {
    background-color: rgba(17, 108, 136, 0.7);
    border: 1px solid #395c6b;
    color: #fff;
    width: 200px;
    padding: 10px;
    position: relative;
    top: -450px;
    left: 30px;
    text-align: center;
}

.summary ul {
    list-style: none;
    
}

.summary h2 {
    text-decoration: underline;
    
}

.summary span {
    color: #d4cb92;
}

article {
    background-color: #395c6b;
    color: #bcd3f2;
    padding: 15px;
    width: 70%;
}

#tornado {
    width: 20%; 
    float: right;
}

.contact {
    padding: 20px;
    width: 60%; 
    background-color: #80a4ed;
    border: 1px solid #395c6b;
}

#map {
    width: 40%;
    margin: 10px;
    border: 2px inset #395c6b;
    float: right;
}

/*================footer================*/

footer {
    text-align: center;
}
